* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

html{ 
   font-size: 62.5%;
}

body {
   background-color: #1e2023;
   color: #fff;
   font-family: Helvetica;
}

header {
   heigth: 30vh;
   font-size: 2rem;
   padding: 1rem 2rem;
   border-radius: 0 0 2rem 2rem;
   box-shadow: 0 0 1.5rem #000;
}


nav {
   position: relative;
   display: inline-block;
   left: 60vw;
}

nav li {
   display: inline-block;
}

section {
   margin-top: 3vh;
}

aside{
   display: inline-block;
   width: 20vw;
   height: 70vh;
   border-radius: 2rem;
   box-shadow: 0 0 1.5rem #000;
   margin: 0 1rem;
}

main {
   position: absolute;
   display: inline-block;
   box-shadow: 0 0 1.5rem #000;
   border-radius: 2rem;
   margin: 0 3rem;
   font-size: 1.6rem;
   height: 70vh;
   width: 73vw;
}

main p{
   margin: 2rem 2rem;
}

.box {
   display: block;
   width: 15vw;
   background-color: #1e2023;
   border-radius: 2rem;
   box-shadow: 0 0 1.5rem #000;
   height: 15vh;
   margin: 1rem auto;
}

footer {
   height: 15vh;
   font-size: 2rem;
   margin: 2rem 2rem;
}

footer div {
   display: inline-block;
   position: relative;
   padding: 1rem 1rem;
}

footer .about{
   border-radius: 2rem;
   box-shadow: 0 0 1.5rem #000;
}

footer .contact {
   left: 75vw;
   border-radius: 2rem;
   box-shadow: 0 0 1.5rem #000;
}
